body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #333;
  background-color: #f4f6f8;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;

  &__title {
    font-size: 2.5rem;
    font-weight: 800;

    margin-bottom: 40px;

    color: #1a1a1a;

    text-align: center;
    letter-spacing: -0.5px;
  }
}
